h1{
  text-align: center;
}
body{
  color: black;
  background-color: #ebad05;
  outline: 15px solid #262624;

  margin-right: 250px;
  margin-left: 250px;
}
p{
  font-size: 50px; text-align: center;
}
